body {
  margin: 0;
  padding: 0;
  font-size: 140px;
  font-weight: bold;
  font-family: sans-serif;
  color: blue;
  -webkit-text-stroke: 1.5Px blue;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  height: 161px;
}

.content {
  -webkit-text-stroke: 1.5px blue
}

@media only screen and (max-width: 780px) {
  .marquee {
    font-size: 90px;
    height: 105px;
    -webkit-text-stroke: 1px blue;
  }
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}


.wrapper {
  width: 80%;
  margin: auto;
  font-size: 4vw;
  font-weight: normal;
  text-align: center;
  -webkit-text-stroke: .5px blue;  
  min-height: 77vh;
  position: relative;
  }

  .filler {
  min-height: 10vh;
  }

  @media only screen and (max-width: 600px) {
.filler {
  min-height: 0vh;
} 
}

.paragraph {
  font-size: 2.5vw;
  text-align: justify;
  text-justify: inter-word;
  -webkit-text-stroke: .5px transparent;
  padding-top: 3vw;
  padding-bottom: 3vw;
  width: 80%;
  margin: auto;
  font-family: monospace;

}

@media only screen and (max-width: 780px) {
.wrapper {
  min-height: 85vh;
} 
}

@media only screen and (max-width: 600px) {
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;  
  margin-bottom: 1.5vw;
} 
}

.footer {
  margin-bottom: 1.5vw;
  -webkit-text-stroke: .5px blue;
  color: transparent;
  font-size: 2vw;
} 

.footer2 {
  -webkit-text-stroke: .5px blue;
  color: transparent;
  width: 100%;  
  margin-bottom: 1.5vw;
} 

.footer2:hover {
  color: blue;
} 

@media only screen and (max-width: 1300px) {
.footer2 {
  position: absolute;
  bottom: 0;
  width: 100%;  
  margin-bottom: 1.5vw;
} 
}

 a,   a:link, a:visited {
      text-decoration: none;
      color: transparent;
      -webkit-text-stroke: .5Px blue

 }

.blue {
  color: blue;
  -webkit-text-stroke: .5px blue
}

.blue:hover {
  color: blue;
}

a:hover {
  color: blue;
}

a:active {
  color: blue;
}

.title {
  color: transparent;
  -webkit-text-stroke: 1.5px blue
}

.title:hover {
  color: blue;
}

img {
 height: 100%;
 width: 100%;
 object-fit: contain;
}

.hiddenimg {
  height: 25%;
  width: 25%;
  display: none;
}

.showimg:hover ~ .hiddenimg {
  display: block;
  position: absolute;
    z-index: -1;
  }