body {
  margin: 0;
  padding: 0;
  font-size: 120px;
  font-weight: bold;
  font-family: sans-serif;
  color: blue;
  -webkit-text-stroke: 1Px blue;
}

span {
  color: transparent;
}

span:hover {
  color: blue;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  height: 140px;
}

@media only screen and (max-width: 780px) {
  .marquee {
    font-size: 90px;
    height: 105px;
  }
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}


.wrapper {
  width: 80%;
  margin: auto;
  font-size: 4vw;
  font-weight: normal;
  text-align: center;
  height: 50vh;
  -webkit-text-stroke: .5px blue;
  }

.paragraph {
  font-size: 3vw;
  text-align: justify;
  text-justify: inter-word;
  -webkit-text-stroke: .5px transparent;
  padding-top: 3vw;
  padding-bottom: 3vw;
  width: 80%;
  margin: auto;
}

.footer {

  padding-bottom: 1.5vw;

}