body {
  background-color:  white;
  margin: 0;
  padding: 20px;
}

.garden {
  max-width: 800px;
  margin: 0 auto;
}

.flower {
  color: black;
  font-size: 14px;
  font-family: arial;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  border: 1rem solid;
}

.flower2 {
  background-color: white;
  border-color: hotpink;
  border-radius: 5%;
}

.flower1 {
  background-color: white;
  border:.5rem solid;
  border-color: slategrey;
}

.flower3 {
  background-color: white;
  border:.75rem solid;
  border-color: red;
}

.flower4 {
  background-color: white;
  border-color: lawngreen;
  border-radius: 5%;
}

.flower5 {
  border:.5rem solid;
  border-color: lightblue;
}

.flower6 {
  border:.75rem solid;
  border-color: blue;
}