
body {
  background-color: lightpink;
}

h1 {
  color: blue;}


.question-container {
  color: blue;
  background: beige;
  border: 1px solid blue;
  margin: 10px;
  padding: 5px;
  font-family: monospace;
  font-size: 24px;
  text-align: center;
}